[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
torchvision = "*"
torch = "*"
ipython = "==5.7.0"
scipy = "*"
matplotlib = "*"
tqdm = "*"
prefetch-generator = "*"
pandas = "*"
fire = "*"
sklearn = "*"
nltk = "*"
gensim = "*"
implicit = "*"

[requires]
python_version = "2.7"
